$color-white:#ffffff; 
$color-gray: #d1d1d1;
$color-coral: #e4c630;
$color-flame: #e4572e; 
$color-bluedefrance: #3c91e6; 
$color-black: #000000;
$color-outerspace: #454545;
$color-quicksilver: #a2a2a2;

/*$color-jordyblue: #82b9ef;
$color-isabelline: #eeeded;
$color-buff: #f1e06a;
$color-vanilla: #f2e49f;
$color-lightochre: #e87554;
$color-pastelpink: #f2b2a0;
$color-shamrockgreen: #4ca866;
$color-turquoisegreen: #93c1a0;
$color-pastelgreen: #bddfc7;
$color-bluejeans: #5fa5ea;*/


