body{
    font-family: "PT Mono", monospace;
}
.navigation__logo{
    width: 3vw;
}
.navigation__link{
    color: $color-quicksilver;
    text-decoration: none;
    font-size: 1vw;
}
.navigation__link:hover{
    color: $color-black;
}
.navigation__button{
    width: 100%;
    height: 3vw;
    font-size: 1vw;
}
.navigation__button--1{
    background-color: $color-white;
    border-width: 1px;
    border-color: $color-gray;
    color: $color-gray;
}
.navigation__button--1:hover{
    border-color: $color-black;
    color: $color-black;
}
.navigation__button--2{
    background-color: $color-shamrockgreen;
    border: none;
    color: $color-white;
}
.navigation__button--2:hover{
    background-color: $color-turquoisegreen;
    color: $color-outerspace;
}